body {
    background:hotpink;
    margin: auto;
    max-width: 45em;
    font-family: cursive;
    word-wrap: break-word;
}
h4 {
    margin:0;
}
hr {
    border-top: 1px solid blueviolet;
}
#top-bar {
    background:yellow;
    font-weight:bold;
    padding: 1em;
    margin-top: 1em;
    border-radius: .5em
}
#top-bar a {
    color:green;
}
a {
    color: violet;
    font-weight: bold;
}
#middle {
    background:oldlace;
    border-radius: .5em;
    margin-top: 2em;
    padding: 1em;
}
#bottom {
    background:oldlace;
    border-radius: 1em;
    margin-top: 1em;
    padding: 1em;
}
th, td {
    padding: 0 1em 0 0;
}