{% extends "layout.html" %}
{% block content %}
    <div id="top-bar">
        <p style="float:right; padding-top:0.5em;">
            {% if session.username %}
                <a href="/logout"> Kirjaudu ulos</a>
                <br>
                {% if session.admin %}
                    <a href="/demote/">Vaihda käyttäjäksi</a>
                {% else %}
                    <a href="/promote/">Vaihda ylläpitäjäksi</a>
                {% endif %}
            {% else %}
                <a href="/login">Kirjaudu sisään</a><br>tai <a href="/register">rekisteröidy</a>
            {% endif %}
        </p>
        <h1>Tervetuloa ärsytyssovellukseen{% if session.username %}, {{session.username}}{% endif %}!</h1>        
    </div>

    
    <div id="middle">
        <p><a href="/search" style="float:right; padding-right:0.5em">Hae ärsytyksenaiheita</a></p>

        <h3>Aiheet</h3>
        <hr>
        {% for forum in forums %}
            {% if not forum.hide or session.admin or (session.allowed and forum.id in session.allowed) %}
                <h4><a href="/forums/{{forum.id}}">{{forum.topic}}</a> {% if forum.hide %} (Piilota) {% endif %} <br></h4>

                Lankoja ärsytyksessä: {{forum.threadcount}}<br>

                Viestejä ärsytyksessä: {{forum.msgcount}} <br>

                {% if forum.lastmsg %}
                    Viimeisin ärsytys: {{forum.lastmsg.strftime("%d.%m.%Y klo %H:%M:%S")}}
                {% endif %}

                {% if session.admin %}
                    <form action="/deleteforum" method="POST">
                        <input type="submit" value="Poista aihe">
                        {% if forum.hide %}<button type="button" onclick="location.href='manage-rights?id={{forum.id}}'">Muokkaa pääsyoikeuksia</button>{% endif %}
                        <input type="hidden" name="forum_id" value="{{forum.id}}">
                        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                    </form>
                {% endif %}                
                {% if not loop.last %}<hr>{% endif %}
            {% endif %}
        {% endfor %}
    </div>

    {% if session.admin or get_flashed_messages() %}
    <div id="bottom">
        <p>
        {% if session.admin %}
            <form action="/createforum" method="POST">
                <input type="text" name="topic" placeholder="Aihe">
                <input type="checkbox" id="hidden" name="hidden">
                <label for="hidden">Piilotettu</label> <br>
                <input type="submit" value="Tee uusi aihe">
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            </form>
        {% endif %}
        {% for message in get_flashed_messages() %}
            <strong style="color:red">{{message}}</strong>
        {% endfor %}   
        </p> 
    </div>
    {% endif %}
{% endblock %}