{% extends "layout.html" %}
{% block title %} Kirjaudu {% endblock %}

{% block content %}
    <p  style="margin-top:1em">
    <a href="/"><strong>← Etusivu</strong></a>
    </p>
    <div id="middle">
        <form action="/login" method="POST">
            Käyttäjänimi: <br>
            <input type="text" name="username"> <br>

            Salasana: <br>
            <input type="password" name="password"> <br><br>

            <input type="submit" value="Kirjaudu sisään">
        </form>

        {% for message in get_flashed_messages() %}
        <strong style="color:red">{{message}}</strong>
        {% endfor %}
    </div>
{% endblock %}